
$font-family: Helvetica, Arial, "Lucida Grande", sans-serif;   /*SASS variables*/
$primary-color: #000000;
$font-size-mobile:x-large;
$font-size-desktop:30px;

@mixin text-style{  /*SASS mixins*/
  font-size:30px;
  color:$primary-color;
}

@mixin float-style{
 float:left;
 width:33.3%;
}

html{
	scroll-behavior:smooth;
}

body, html{
	height:100vh;
	margin:0;
	padding:0;
	font-size:100%;
	font:$font-family;
	max-width: 100%; /*to disable horizontal scrolling*/
	min-width:256px;
	
}


body{
	background: #5a3333;
	display: flex;
	flex-direction: column;
	
}


/*styling for the body*/
 

@media only screen and (min-width:769px){
	 body{
		
		
	 }
 }

 /*styling for navbar*/
 /*SASS nesting*/
  
.navigation {
 
 
 
 a {
  font-size:$font-size-desktop;
  float: left;
  color:#5993E5;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   }

 a:hover {
  text-decoration:underline;
   }

 a.icon {
  display: none; }
  
  a:not(:first-child){
	display:inline;
	float:right;
	position: relative;
    top: 16px;
	}
}

@media screen and (max-width: 768px) {

	
	.navigation a{
	font-size:$font-size-desktop;
	}
  .navigation a:not(:first-child) {
    display: none; }

  .navigation a.icon {
	background:   #5a3333;
    float: right;
    display: block;
	margin-top:16px;	} 
	
	}
	
@media screen and (max-width: 768px) {
  .navigation.responsive {
    position: relative; }

  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left; } 
	
}



/*styling weather data section*/
#container{
	flex: 1 0 auto; 
	display: flex;
	flex-flow:column;
	text-align:center;
	@include text-style;
	background: url('images/background.jpg') no-repeat center center fixed; 
	background-size: cover;
}

.inside-container{
	position:relative;
	flex: 1 0 auto; 
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center; 
	
}
#input-option{
	padding-top:15px;
}
#city, #submit{
			background: none;
			color: inherit;
			padding:0;
			margin:0;
			font: inherit;
			outline: inherit;
			border-color:#000;
		
		}
	#submit{
			
			border: none;
			cursor: pointer;
			

		}
	

	
.icon_image{
		 
		
		height:auto;
	
	}
table {
  border-collapse: collapse;
}
tr td{
	padding-left:10px;
	padding-right:10px;
}
tr.border_bottom{
		
		border-bottom:1px solid darkblue;
		
	}
	


.description{
	
	
	}
	.getCurrentWeather:hover, #submit:hover{
		 cursor: pointer;
		text-shadow: 0 0 10px #FFFFFF; /*text glow effect*/
	}
/*styling for weather data section for smaller screen*/
	
@media screen and (max-width: 768px){
	#container{
		padding:10px;
		font-size:$font-size-mobile;
	}
	#input-option, {
		width:95%;
	}
	#submit{
	padding-left:10px;
	}
	 #city{
		max-width:50%;
	}
	#forecast-table{
		width:100%;
		line-height:2;
	}
}

@media screen and (max-width: 375px){
	tr td{
	padding-left:0;
	padding-right:0;
}
#foot p.left{
	text-align:left;
	
	}
#foot p.right{
	text-align:right;
	
	}
}
#foot{
	display: flex;
    justify-content: space-between;
	p{
		padding-left:10px;
		padding-right:10px;
	
	}
	a{
		text-decoration:none;
		color:black;
	}
	a:hover{
		text-decoration:underline;
	}
}
	

